<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="predictive_nav_box_inertia" params="mass x y z">
    <inertial>
      <mass value="${mass}"/>
      <inertia
        ixx="${mass * (y * y + z * z) / 12.0}"
        ixy="0.0"
        ixz="0.0"
        iyy="${mass * (x * x + z * z) / 12.0}"
        iyz="0.0"
        izz="${mass * (x * x + y * y) / 12.0}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="predictive_nav_cylinder_inertia_z" params="mass radius length">
    <inertial>
      <mass value="${mass}"/>
      <inertia
        ixx="${mass * (3.0 * radius * radius + length * length) / 12.0}"
        ixy="0.0"
        ixz="0.0"
        iyy="${mass * (3.0 * radius * radius + length * length) / 12.0}"
        iyz="0.0"
        izz="${mass * radius * radius / 2.0}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="predictive_nav_cylinder_inertia_x" params="mass radius length">
    <inertial>
      <mass value="${mass}"/>
      <inertia
        ixx="${mass * radius * radius / 2.0}"
        ixy="0.0"
        ixz="0.0"
        iyy="${mass * (3.0 * radius * radius + length * length) / 12.0}"
        iyz="0.0"
        izz="${mass * (3.0 * radius * radius + length * length) / 12.0}"/>
    </inertial>
  </xacro:macro>
</robot>
