<?xml version="1.0"?>
<robot name="$(arg robot_name)" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="robot_name" default="mrt_service_robot"/>
  <xacro:arg name="robot_role" default="delivery"/>
  <xacro:arg name="robot_color" default="mrt_blue"/>
  <xacro:arg name="payload_enabled" default="true"/>
  <xacro:arg name="mast_enabled" default="false"/>
  <xacro:arg name="camera_enabled" default="true"/>
  <xacro:arg name="use_gazebo_plugins" default="false"/>
  <xacro:arg name="lidar_x" default="0.22"/>
  <xacro:arg name="lidar_y" default="0"/>
  <xacro:arg name="lidar_z" default="0.045"/>

  <xacro:include filename="$(find mrt_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find mrt_description)/urdf/inertials.xacro"/>
  <xacro:include filename="$(find mrt_description)/urdf/base.xacro"/>
  <xacro:include filename="$(find mrt_description)/urdf/wheels.xacro"/>
  <xacro:include filename="$(find mrt_description)/urdf/sensors.xacro"/>
  <xacro:include filename="$(find mrt_description)/urdf/payload.xacro"/>
  <xacro:include filename="$(find mrt_description)/urdf/gazebo_plugins.xacro"/>

  <xacro:mrt_base robot_color="$(arg robot_color)"/>
  <xacro:mrt_wheels/>
  <xacro:mrt_lidar x="$(arg lidar_x)" y="$(arg lidar_y)" z="$(arg lidar_z)"/>
  <xacro:mrt_imu/>
  <xacro:mrt_camera enabled="$(arg camera_enabled)"/>
  <xacro:mrt_payload_box enabled="$(arg payload_enabled)" accent_color="$(arg robot_color)"/>
  <xacro:mrt_inspection_mast enabled="$(arg mast_enabled)" accent_color="$(arg robot_color)"/>

  <xacro:if value="$(arg use_gazebo_plugins)">
    <xacro:mrt_gazebo_plugins robot_name="$(arg robot_name)"/>
  </xacro:if>
</robot>
